<h3>受信リスト</h3>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.from[0, 11] %></td>
        <% if question.answerd != true %>
          <td id="yet">未</td>
        <% elsif question.answer == false %>
          <td id="no">N</td>
        <% else %>
          <td id="yes">Y</td>
        <% end %>
        <td><%= link_to '', answer_question_path(question), class: "glyphicon glyphicon-pencil" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
