<h2>送信リスト</h2>

<table class="table">
  <thead>
    <tr>
      <th>To</th>
      <th>state</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.to[0, 18] %></td>
        <% if question.answerd != true %>
          <td id="yet">未</td>
        <% elsif question.answer == false %>
          <td id="no">N</td>
        <% else %>
          <td id="yes">Y</td>
        <% end %>
        <td><%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
